@charset "UTF-8";
   .commentbox1{
   background: linear-gradient(to top left, #b36dd4, #f06699);
   margin-bottom: 10px;
   text-align: center;
   border-radius: 20px;
   font-size: 20px;
   padding: 13px 0px 0px 0px;
   color: white;
   }
   .chatting{
   width:300px;
   display: none;
   }
   .messageArea{
      overflow-y: auto;
      height: 500px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      background-color: #e1bee7;
      box-shadow: 1px 1px 1px 1px gray;
      margin-bottom: 13px;

   }
   .messageArea>p{
   text-align: center;
   width: 100%;
   }
   #sendMsg{
   width: 70%;
   }
   .sendBox{
   margin-top: 5px;
   }
   #sendBtn{
   width: 22%;
   background-color: skyblue;
   font-weight: bold;
   }
   .chat{
   margin-bottom: 10px;
   padding: 8px;
   border-radius: 5px;
   }
   .right{
   background: linear-gradient(to top left, #b36dd4, #f06699);
   align-self: flex-end;
   font-weight: bold;
   }
   .leftchat{
   background-color: #a1a59f;
   align-self: flex-start;
   font-weight: bold;
   }

