@charset "UTF-8";

    .wrapper {
        width: 100%;
        height: 100px;

    }


    .container {
        width: 100%;
        height: 1000px;
    }

    .navi {
        background: #ea9310;
        display: block;
        width: 100%;
        height: 60px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .menu {
        width: 530px;
        height: 100%;
        padding: 0px;
        margin: 0px;
        margin: 0 auto;
        overflow: hidden;
    }

    .menu>li {
        list-style-type: none;
        float: left;
        width: calc(530px/4);
        height: 60px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
    }

    .menu>li>a {
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 10px 10px;
        font-weight: bold;
        margin: 8px;
    }

    .wrap {
        width: 100%;
        height: 1400px;
        border-radius: 4px;
    }

    .active a {
        border-bottom: 3px solid #31230a;
        color: #31230a;

    }

    .contain {
    	min-width:1380px;
        width: 100%;
        height: 1400px;
        margin: 0 auto;
        float: left;
    }

    .left1 {
        height: 100%;
        width: 300px;
        float: left;
        margin-left: 50px;
    }

    .profile {
        width: 250px;
        height: 400px;
        border: 1px solid #d3d2d1ee;
        margin: 0 auto;
        box-shadow: 1px 1px 2px 2px #d3d2d1ee;
    }
    
    .clubimg{
        overflow: hidden;
	    background-size: cover;
        background-image: url(../../image/img1.png);
        width: 100%;
        height: 60%;
        border-bottom: 1px solid #d3d2d1ee;
    }
    .clubinfo1{
        width: 100%;
        height: 15%;
    }
    .memberNum{
        float:left;
        height: 50px;
        width: 60px;
        padding: 2px;
    }
    .inviteMember{
        float:left;
        height: 50px;
        width: 60px;
        padding: 2px;
    }
    .clubinfo2{
        width: 100%;
        height: 15%;
    }

    .middle {
    	margin-right: 20px;
        width: 700px;
        height: 100%;
        float: left;
    }
	.boardWritebox{
		width: 700px;
		height: 400px;
		margin-bottom: 10px;
		padding: 5px;
        box-sizing: border-box;
        background-color: rgb(248, 231, 200);
        border-radius: 8px;
        margin: 0 auto;
        border: 2px solid gray;
	
	}
    .tab-cont {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 0 auto;
        margin-top: 10px;
/*   background-color: rgb(248, 231, 200); */
    }

    .right1 {
        height: 100%;
        width: 300px;
        float: left;
        margin: 0 auto;
        margin-left: 10px;

    }

    .chatlist {
        width: 250px;
        height: 300px;
        border: 1px solid #d3d2d1ee;
        margin: 0 auto;
        box-shadow: 1px 1px 2px 2px #d3d2d1ee;
    }
    
    .chatcontent{
        width: 100%;
        height: 80%;
      	background-color: #f1eeebee;
    }
    
    /*게시물 전체 형태 css!*/
   .board-wrap{
	   margin: 0 auto;
	   width: 500px;
	   height: 600px;
	   border: 5px solid gray;
	   margin-top: 10px;
	   margin-bottom: 10px;
   }
   .userDate{
       height: 15%;
       width: 100%;
       border-bottom: 1px solid gray;
   }
   .userImg {
       float: left;
       border: 1px solid gray;
       width: 11%;
       height: 60%;
       border-radius: 100px;
       margin: 8px 3px 0px 8px;
       overflow: hidden;
       background-size: contain;
       background-image: url(../../image/userimg.png);
   }
   .userName{
       float: left;
       /* width: 50px; */
       width: 30%;
       height: 60px;
       padding: 30px 0px 0px 20px;


   }
   .enrollDate{
       float: left;
       width: 40%;
       height: 80px;
       text-align: center;
       padding-top: 32px
   }
   .boardTitle{
       height: 10%;
       width: 100%;
       border-bottom: 1px solid gray;
   }
   .boardContent{
       height: 35%;
       width: 100%;
       border-bottom: 1px solid gray;
   }
     .boardComment{
       height: 15%;
       width: 100%;
       border-bottom: 1px solid gray;
   }
   .boardFooter{
       height: 15%;
       width: 100%;
       
   }
   .numView{
       width: 100%;
       height: 50%;
       border-bottom: 1px solid gray;

   }
   .btn-wrap{
       height: 48%;
       width: 100%;
       padding: 30px 0px 0px 30px;
   }
   .userNum{
       width: 200px;
       height: 100%;
       text-align: center;
       float: left;
   }
   .userGood{
       width: 200px;
       height: 100%;
       float: left;
       text-align: center;
   }

    
/* 준식@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.bottomAdmin {
  width: 100%;
  border-radius: 5px;
  background-color: gainsboro;
}
.clubModify {
  width: 100%;
  height: 180px;
}
.clubModify textarea {
  text-align: center;
  width: 90%;
  height: 80px;
  margin-left: 30px;
  padding: 15px;
  resize: none;
  outline: none;
  border: 0px;
  border-radius: 5px;
}
.clubModify > div:nth-child(1) {
  width: 100px;
  margin-left: 30px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid white;
}
.clubModify > div:nth-child(2) {
  margin: 0 auto;
  margin-top: 15px;
}
.clubModifyDelete {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.clubModifyDelete > div {
  width: 80px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  border: 0px;
  margin-left: 10px;
  background-color: rgba(0, 166, 255, 0.755);
}
.clubModifyDelete > div:nth-child(2) {
  background-color: rgba(255, 25, 0, 0.761);
  cursor: pointer;
}
.clubModifyDelete > div:first-child:hover {
  background-color: rgba(61, 183, 248, 0.761);
  transform: scale(1.05);
  cursor: pointer;
}
.clubModifyDelete > div:nth-child(2):hover {
  background-color: rgb(250, 110, 94);
  transform: scale(1.05);
  cursor: pointer;
}
.table-responsive,
.bottomAdmin {
  box-shadow: 0 8px 11px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 1%);
}
#test {
  box-shadow: 0 8px 11px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 1%);
}
    
    
    