@charset "UTF-8";

    .wrapper {
        width: 100%;
        height: 100px;

    }


    .container {
        width: 100%;
        height: 1000px;
        margin: 0px;
        padding: 0px;
        display:flex;
        justify-content:space-between;
    }
    .contain {
        min-width: 1600px;
        height: 1000px;
        margin: 0px;
        padding: 0px;
        display:flex;
        justify-content: center;
/*     	min-width:1380px;
        width: 100%;
        height: 1400px;
        margin: 0 auto;
        float: left; */
    }

    .navi {
        min-width:1600px;
        background: #e1bee7;
        display: block;
        /* width: 1500px; */
        height: 60px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .menu {
        width: 530px;
        height: 100%;
        padding: 0px;
        margin: 0px;
        margin: 0 auto;
        overflow: hidden;
    }

    .menu>li {
        list-style-type: none;
        float: left;
        width: calc(530px/4);
        height: 60px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
    }

    .menu>li>a {
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 10px 10px;
        font-weight: bold;
        font-size: 18px;
        margin: 8px;
    }

    .wrap {
        width: 100%;
        height: 1400px;
        border-radius: 4px;
    }

    .active a {
        border-bottom: 3px solid #31230a;
        color: #31230a;

    }

    .left1 {
        height: 100%;
        width: 300px;
    }

    .profile {
        width: 250px;
        height: 500px;
        border: 1px solid #d3d2d1ee;
        margin: 0 auto;
        box-shadow: 1px 1px 2px 2px #d3d2d1ee;
    }
    
     .clubimg{
        overflow: hidden;
	    background-size: cover;
        /* background-image: url(../../image/img1.png);
        width: 100%; */
        height: 60%;
        border-bottom: 1px solid #d3d2d1ee;
        background-color: #ffff;
    } 
    .clubinfo1{
        width: 100%;
        height: 15%;
    }
    .memberNum{
        width: 60px;
	    padding: 2px;
	    font-size: 16px;
	    font-weight: bold;
	    margin: 5px;
	    padding: 0px;
    }
    
    .clubinfo2{
        width: 100%;
        height: 40px;
    }

    .middle {
        width: 700px;
        height: 100%;
        float: left;
        margin:0 50px;
    }
	.boardWritebox{
		width: 650px;
		height: 403px;
		margin-bottom: 20px;
		padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid rgb(187, 186, 186);
        margin: 0 auto;
        font-family: 'Jua', sans-serif;
        background-color: #e9e8e9;
    }
	.boardWritebox textarea{
		width:100%;
	}
	
    .tab-cont {
        background-color: #fff;
        width: 700px;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px;
/*   background-color: rgb(248, 231, 200); */
    }
  

    .right1 {
        height: 100%;
        width: 300px;
        float: left;
        font-family: 'Jua', sans-serif;

    }

    .chatlist {
        width: 250px;
        height: 300px;
        border: 1px solid #d3d2d1ee;
        margin: 0 auto;
        box-shadow: 1px 1px 2px 2px #d3d2d1ee;
    }
    
    .chatcontent{
        width: 100%;
        height: 80%;
      	background-color: #f1eeebee;
    }
    
 /*게시물 전체 형태 css!*/
   .board-wrap{
   	   font-family: 'Jua', sans-serif;
   	   font-size: 17px;
	   margin: 0 auto;
	   width: 500px;
	   overflow: hidden;
       background: linear-gradient(to top left, #79a8bb, #b36dd4, #f06699);
       border: 1px solid  #d54ef7;
	   border-radius: 30px;
	   margin-top: 10px;
	   margin-bottom: 10px;
	   /* background-color:  #f5a43ae8; */
	   padding: 20px;
       box-shadow: 5px 5px 8px 0px;

	   
   }
   .userDate{
       height: 90px;
       width: 100%;
   }
   .userImg {
       float: left;
       border: 1px solid gray;
       width: 60px;
       height: 60px;
       border-radius: 100px;
       margin: 8px 3px 0px 8px;
       overflow: hidden;
       background-size: contain;
       background-image: url(../../image/프로필사진.jpg);
   }
   .userName{
       float: left;
       /* width: 50px; */
       width: 40%;
       height: 60px;
       padding: 30px 0px 0px 20px;
    

   }
   .enrollDate{
       float: left;
       width: 40%;
       height: 80px;
       text-align: center;
       padding-top: 32px
   }
   .boardTitle{
	    background-color: white;
	    height: 50px;
	    width: 100%;
	    padding: 12px;
	    border-radius: 10px;
	    margin-bottom: 10px;
        border: 5px double #f57aef;

   }
   .boardContent{
        padding: 15px;
        border: 5px double #f57aef;
        margin-bottom: 5px;
        background-color: white;
        border-radius: 10px;
    }
     .boardComment{
	    width: 100%;
	    background-color: white;
	    border-radius: 10px;
	    padding: 15px;
	    margin-bottom: 10px;
        border: 5px double #f57aef;
   }
   .boardFooter{
       height: 15%;
       width: 100%;
       
   }
   .numView{
       width: 100%;
       border-bottom: 1px solid gray;
       overflow: hidden;
       

 }
   .btn-wrap{
       height: 60px;
       width: 100%;
       padding: 20px 0px 0px 30px;
   }
   .userNum{
   		float: left;
        width: 40%;
    	height: 55px;
    	font-size: 15px;
    	text-align: center;
    	font-weight: bold;
    	font-size: 18px;
    	padding-top: 20px;
   }
   .userGood{
       text-align: center;
       width: 60%;
       height: 60px;
       float: left;
       text-align: center;
       padding-left: 100px;
       margin-bottom: 10px;
       
   }
   .img1{
   	   display: block;
       float:left;
       border-radius: 35px;
       margin-right: 10px;
       border: 5px double white;
   }
   .img2{
   	display: block;
    float:left;
    border-radius: 25px;
    border: 5px double white;
}
/*댓글 부분*/
.listComment{
    margin: 0px;
    float: left;
}
.delBtnbox{
    float: left;
}
.listComment{
    float: left;
    width: 400px;
    height: 60px;
}
.nameUser{
    float: left;
    margin-right: 20px;
    width: 70px;
    height: 30px;
    background-color: rgb(241, 109, 241);
    color: white;
    border: 1px solid pink;
    text-align: center;
    padding-top: 3px;
}
.contentComment{
	padding-top:10px;
}

    
/* 준식@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.bottomAdmin {
  width: 100%;
  border-radius: 5px;
  background-color: gainsboro;
}
.clubModify {
  width: 100%;
  height: 180px;
}
.clubModify textarea {
  text-align: center;
  width: 90%;
  height: 80px;
  margin-left: 30px;
  padding: 15px;
  resize: none;
  outline: none;
  border: 0px;
  border-radius: 5px;
}
.clubModify > div:nth-child(1) {
  margin-left: 30px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid white;
  margin-right: 20px;
  padding: 3px;
}
.clubModify > div:nth-child(2) {
  margin: 0 auto;
  margin-top: 15px;
}
.clubModifyDelete {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.clubModifyDelete > div {
  width: 80px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  border: 0px;
  margin-left: 10px;
  background-color: rgba(0, 166, 255, 0.755);
}
.clubModifyDelete > div:nth-child(2) {
  background-color: rgba(255, 25, 0, 0.761);
  cursor: pointer;
}
.clubModifyDelete > div:first-child:hover {
  background-color: rgba(61, 183, 248, 0.761);
  transform: scale(1.05);
  cursor: pointer;
}
.clubModifyDelete > div:nth-child(2):hover {
  background-color: rgb(250, 110, 94);
  transform: scale(1.05);
  cursor: pointer;
}
.table-responsive,
.bottomAdmin {
  box-shadow: 0 8px 11px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 1%);
}
#test {
  box-shadow: 0 8px 11px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 1%);
}
.modal-content textarea {
	width: 80%;
	height: 100px;
	outline: none;
	border: 0px;
	resize: none;
	border-radius: 5px;
	padding: 10px;
}
.modal-body{
	text-align: center;
}
.modal-body>p{
	font-weight: bold;
    font-size: 15px;
}
.modal-title{
	text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.contentMent{
	margin-left: 10px;
	float: left; 
	font-weight: bold;
}
.adminCheckButton{
	border: 0px;
	border-radius:5px;
	color:white;
	background-color: #337ab7;
	width: 100px;
    height: 30px;
    padding-top: 3px;
    margin-left: 3px;
}
.adminCheckButton:hover{
	background-color: #337ab7b8;
	transform: scale(1.05);
}


#calModal{
	background-color: #8000808c;
	margin: 0 auto;
    display: flex;
   	margin-top: 20px;
    width: 200px;
    padding-left: 45px;
}
body.modal-open {
    overflow: auto;
}

body.modal-open[style] {
    padding-right: 0px !important;
}
.modal-body>div>div{
	float: left;
}
.modal-body>div>div:nth-child(1){
	width: 40%
}
.modal-body>div>div:nth-child(2){
	width: 60%
}
.modal-body>div>div>input{
	width: 80%;
	outline: none;
	border: grey;
	border-radius: 3px;
}
.modal-body>div{
	height:28px;
	margin-bottom: 5px;
}
.clubTitleMent{
	font-size: 18px;
    font-weight: bold;
    margin: 5px;
}
.clubnotice{
	margin: 5px;
}
#userMailBtn{
	width: 50px;
    height: 25px;
    font-size: 14px;
    margin: 0 auto;
    line-height: 3px;
    display: flex;
    justify-content: center;
	
}
#blackBtn{
	width: 50px;
    height: 25px;
    font-size: 14px;
    margin: 0 auto;
    line-height: 3px;
    display: flex;
    justify-content: center;
	
}
.sendMessage{
	width: 80%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
}
/* 초대하기 모달 */
.modal-wrap{
	position:fixed;
	top:0;
	left:0;
	display:none;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
	justify-content:center;
	align-items:center;
}
.modal-box{
	padding:10px;
	background-color:#ffffff;
	border-radius:10px;
	position:relative;
}
.inviteHead{
	width:200px;
	padding-bottom:10px;
	margin-top:5px;
	border-bottom:2px solid #FF00FF;
}
.search-wrap,
.invite-wrap{
	width:200px;
	display:flex;
}
.invite-wrap{
	flex-direction:column;
}
.invite-wrap>*{
	width:100%;
}
.invite-info{
	height:30px;
	text-align:center;
}
.invite-info>img{
	width:30px;
	height:30px;
}
#inviteMember{
	width:100px;
	cursor:pointer;
	text-align:center;
	border-radius:5px;
	margin:auto;
	padding:5px;
	box-sizing:border-box;
	box-shadow:0 0 1px black;
	transition-duration:0.3s;
}
#inviteMember:hover{
	box-shadow:0 0 5px black;
	font-size:1.7rem;
}
#inviteNick{
	flex-grow:3;
}
#searchBtn{
	flex-grow:1;
}
#closeBtns{
	width:30px;
	height:30px;
	background-image:url('/resources/image/icons/x.png');
	background-size:100%;
	background-color:transparent;
	position:absolute;
	top:15px;
	right:10px;
	border:none;
	outline:none;
	box-shadow:0 0 5px black;
	border-radius:5px;
}

    















