@charset "UTF-8";

    .wrapper {
        width: 100%;
        height: 100px;

    }


    .container {
        width: 100%;
        height: 1000px;
    }

    .navi {
        background: #ea9310;
        display: block;
        width: 100%;
        height: 60px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .menu {
        width: 530px;
        height: 100%;
        padding: 0px;
        margin: 0px;
        margin: 0 auto;
        overflow: hidden;
    }

    .menu>li {
        list-style-type: none;
        float: left;
        width: calc(530px/4);
        height: 60px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
    }

    .menu>li>a {
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 10px 10px;
        font-weight: bold;
        margin: 8px;
    }

    .wrap {
        width: 100%;
        height: 1400px;
        border-radius: 4px;
    }

    .active a {
        border-bottom: 3px solid #31230a;
        color: #31230a;

    }

    .contain {
    	min-width:1380px;
        width: 100%;
        height: 1400px;
        margin: 0 auto;
        float: left;
    }

    .left1 {
        height: 100%;
        width: 300px;
        float: left;
        margin-left: 50px;
    }

    .profile {
        width: 250px;
        height: 400px;
        border: 1px solid #d3d2d1ee;
        margin: 0 auto;
        box-shadow: 1px 1px 2px 2px #d3d2d1ee;
    }
    
    .clubimg{
        overflow: hidden;
	    background-size: cover;
        background-image: url(../../image/img1.png);
        width: 100%;
        height: 60%;
        border-bottom: 1px solid #d3d2d1ee;
    }
    .clubinfo1{
        width: 100%;
        height: 15%;
    }
    .memberNum{
        float:left;
        height: 50px;
        width: 60px;
        padding: 2px;
    }
    .inviteMember{
        float:left;
        height: 50px;
        width: 60px;
        padding: 2px;
    }
    .clubinfo2{
        width: 100%;
        height: 15%;
    }

    .middle {
    	margin-right: 20px;
        width: 700px;
        height: 100%;
        float: left;
    }
	.boardWritebox{
		width: 700px;
		height: 300px;
		margin-bottom: 10px;
		padding: 5px;
        box-sizing: border-box;
        background-color: rgb(248, 231, 200);
        border-radius: 8px;
        margin: 0 auto;
        border: 2px solid gray;
	
	}
    .tab-cont {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 0 auto;
        margin-top: 10px;
/*   background-color: rgb(248, 231, 200); */
    }

    .right1 {
        height: 100%;
        width: 300px;
        float: left;
        margin: 0 auto;
        margin-left: 10px;

    }

    .chatlist {
        width: 250px;
        height: 300px;
        border: 1px solid #d3d2d1ee;
        margin: 0 auto;
        box-shadow: 1px 1px 2px 2px #d3d2d1ee;
    }
    
    .chatcontent{
        width: 100%;
        height: 80%;
      	background-color: #f1eeebee;
    }
	.board-wrap{
		margin: 0 auto;
		width: 580px;
        height: 280px;
     	margin-top: 10px;
     	margin-bottom: 10px;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        border: 5px solid rgb(248, 231, 200);
	}


    .boardcontain {
        width: 100%;
        height: 30%;


    }
    .content{
    	width: 100%;
        height: 40%;
        border: 1px solid white;
        background-color: white;
    }
 
    .userinfo{
    	width: 530px;
    	height: 30%;
    	border-bottm: 1px solid rgb(248, 231, 200);
    }

	 .userImg {
	   float: left;
	   border: 1px solid gray;
	   width: 60px;
	   height: 60px;
	   border-radius: 50px;
	   margin: 10px;
	   overflow: hidden;
	   background-size: contain;
	   background-image: url(../../image/userimg.png);
	 }
	 .userName{
	 	float: left;
	 	width: 50px;
	 	height: 50px;
	 	padding: 20px;
	 }
	 .enrollDate{
	 	float: left;
	 	width: 350px;
	 	height: 50px;
	 	padding-top: 20px;
	 	text-align: right;
	 }
	 .usernum{
	 	width: 100px;
	 	padding: 10px;
	 }
	 .btn-trigger > a{
	 	padding: 10px;
	 }

     /*modal*/
     @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

    html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    }

    .blur-it {
    filter: blur(4px);
    }

    .btn trigger {
    text-align: right;
    width: 100px;
    padding: 18px 0;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background: #e2525c;
    float: left;
    }

    .modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(41, 171, 164, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    }

    .modal-wrapper.open {
    opacity: 1;
    visibility: visible;
    }

    .modal {
    width: 600px;
    height: 400px;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 50%; 
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    }

    .modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
    }

    .head { 
    width: 90%;
    height: 32px;
    padding: 12px 30px;
    overflow: hidden;
    background: #e2525c;
    }

    .btn-close {
    font-size: 28px;
    display: block;
    float: right;
    color: #fff;
    }

    .content2 {
    padding: 10%;
    }

    .good-job {
    text-align: center;
    font-family: 'Montserrat', Arial,Helvetica, sans-serif;
    color: #e2525c;
    }
    .good-job .fa-thumbs-o-up {
    font-size: 60px;
    }
    .good-job h1 {
    font-size: 45px;
    }
    .deletebox{
        width: 700px;
        height: 30px;
        margin: 0px;
        
        
    
    }
    .deletebtn{
        width: 100px;
        display: block;
        color: white;
        background-color: #ea9310;
        text-decoration: none;
        text-align: center;
        line-height: 26px;
        border: 1px solid gray;

    }
    