@charset "UTF-8";


.photo-wrap{
    width: 690px;
    height: 2000px;
    margin: 0 auto;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding-left: 8px;
}

.album{
    width: calc(640px/3);
    height: 200px;
    border: 1px solid gray;
    float: left;
    object-fit:contain;
    overflow: hidden;
    margin: 5px;
}









