<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="answer">
	<!-- 공지 댓글 입력 -->
<insert id="insertComent" parameterType="an">
INSERT INTO ANSWER VALUES(
    ANSWER_SEQ.NEXTVAL,
    #{abNo},
    #{anWriter},
    #{anContent},
    #{fileName},
    #{filePath},
    TO_CHAR(SYSDATE,'YYYY-MM-DD'))
</insert>

<!-- 공지 댓글 찾기 -->
<select id="selectMoment" parameterType="int" resultType="an">
SELECT
    a.AN_NO AS anNo,
    a.ab_no as abNo,
    a.an_writer as anWriter,
    a.an_Content as anContent,
    a.filename as fileName,
    a.filepath as filePath,
    a.enroll_date as enrollDate,
    b.member_nick as memberNick,
    b.filepath as pic
FROM ANSWER a,member b WHERE a.an_writer = b.member_nick and a.AB_NO=#{abNo}
</select>
<insert id="insertAnswer" parameterType="an">
	insert into answer values(answer_seq.nextval,#{abNo},#{anWriter},#{anContent},null,null,to_char(sysdate,'yyyy-mm-dd'))
</insert>
<!-- 관리자용 answer 가져오기 -->
<select id="selectOneAnswer" parameterType="int" resultType="an">
	SELECT
	    AN_NO AS anNo,
	    ab_no as abNo,
	    an_writer as anWriter,
	    an_Content as anContent,
	    filename as fileName,
	    filepath as filePath,
	    enroll_date as enrollDate
	FROM ANSWER where ab_no=#{abNo}
</select>
</mapper>
















