<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="directMessage">
	<insert id="insertDm" parameterType="dm">
		insert into direct_message values(dm_seq.nextval,#{sender},#{receiver},#{dmContent},to_char(sysdate,'yyyy-mm-dd'),'N')
	</insert>
	<select id="selectAllDm" resultType="dm">
		select
			dm_no as dmNo,
			sender,
			receiver,
			dm_content as dmContent,
			dm_date as dmDate,
			read_status as readStatus
		from direct_message
	</select>
	<!-- 회원 경고 업데이트~ -->
	<update id="updateWarningCount" parameterType="dm">
		update member set warning_count=warning_count+1 where member_nick=#{receiver}
	</update>
	<insert id="insertMultiDm" parameterType="map">
		insert into direct_message values(dm_seq.nextval,#{dm.sender},
		(select member_nick from member where member_no=#{memberNo}),#{dm.dmContent},to_char(sysdate,'yyyy-mm-dd'),'N')
	</insert>
	<!-- 일반회원용 DM 조회 -->
	<select id="selectDmByName" parameterType="string" resultType="dm">
		select
			dm_no as dmNo,
			sender,
			receiver,
			dm_content as dmContent,
			dm_date as dmDate,
			read_status as readStatus
		from direct_message where sender=#{memberNick} or receiver=#{memberNick}
	</select>
</mapper>
