<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="directMessage">
	<insert id="insertDm" parameterType="dm">
		insert into direct_message values(dm_seq.nextval,#{sender},#{receiver},#{dmContent},to_char(sysdate,'yyyy-mm-dd'),'N')
	</insert>
	<select id="selectAllDm" resultType="dm">
		select
			dm_no as dmNo,
			sender,
			receiver,
			dm_content as dmContent,
			dm_date as dmDate,
			read_status as readStatus
		from direct_message
	</select>
	<!-- 회원 경고 업데이트~ -->
	<update id="updateWarningCount" parameterType="dm">
		update member set warning_count=warning_count+1 where member_nick=#{receiver}
	</update>
	<insert id="insertMultiDm" parameterType="map">
		insert into direct_message values(dm_seq.nextval,#{dm.sender},
		(select member_nick from member where member_no=#{memberNo}),#{dm.dmContent},to_char(sysdate,'yyyy-mm-dd'),'N')
	</insert>
	<!-- 일반회원용 DM 조회 -->
	<select id="selectDmByName" parameterType="map" resultType="dm">
		select rownum, dms.* from 
			(select rownum as dm_no_desc, dm.* from 
 				(select dm_no as dmNo, sender, receiver, dm_content as dmContent, dm_date as dmDate, read_status as readStatus from (select * from direct_message where receiver=#{memberNick} and read_status='Y' union select * from direct_message where sender=#{memberNick}) order by dm_no desc) dm
 			) dms 
 		where dm_no_desc between #{start} and #{end}
	</select>
	<!-- 일반회원용 읽지 않은 DM 조회 -->
	<select id="selectUnreadDmByName" parameterType="map" resultType="dm">
		select rownum, dms. * from 
		(select rownum as dm_no_desc, dm.* from 
		 	(select dm_no as dmNo, sender, receiver, dm_content as dmContent, dm_date as dmDate, read_status as readStatus from direct_message where receiver=#{memberNick} and read_status='N' order by dm_no desc) dm 
 			) dms 
 		where dm_no_desc between #{start} and #{end}
	</select>
	<!-- 일반회원용 전체 DM 수 조회 -->
	<select id="selectAllDmCount" parameterType="string" resultType="int">
		select count(*) from (select * from direct_message where receiver=#{memberNick} and read_status='Y' union select * from direct_message where sender=#{memberNick})
	</select>
	<!-- 일반회원용 읽지 않은 DM 수 조회 -->
	<select id="selectUnreadDm" parameterType="string" resultType="int">
		select 
			count(*)
		from direct_message where receiver=#{memberNick} and read_status='N'
	</select>	
	<!-- DM 읽음 처리 -->
	<update id="updateReadStatus" parameterType="dm">
		update direct_message set read_status='Y' where dm_no=#{dmNo}
	</update>
	<!-- DM 1개 조회 -->
	<select id="selectOneDm" parameterType="dm" resultType="dm">
		select
			dm_no as dmNo,
			sender,
			receiver,
			dm_content as dmContent,
			dm_date as dmDate,
			read_status as readStatus
		from direct_message where dm_no=#{dmNo}
	</select>
</mapper>
