<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freeBoard">
  <insert id="insertFreeBoard" parameterType="fb">
  	insert into free_board values(
  				fb_seq.nextval,
  				#{fbWriter},
  				#{fbContent},
  				#{filename},
  				#{filepath},
  				0,
  				0,
  				#{type},
  				to_char(sysdate,'yyyy-mm-dd')
  	)
  </insert>
  <select id="FreeBoardTotalCount" resultType="int">
  	select count(fb_no) from free_board
  </select>
  <select id="selectFreeBoards" parameterType="map" resultType="fb">
  select 
    fb_no as fbNo
    ,b.FB_CONTENT as fbContent
    ,b.fb_writer as fbWriter
    ,b.filename
    ,b.filepath
    ,b.fb_views as fbViews
    ,(select count(*) from likes l where l.fb_no = b.fb_no) as fbGood
    ,b.type
    ,decode((select count(*) from likes where user_no=#{userNo} and fb_no=b.fb_no),1,1,0) flag    
	from free_board b
	
  <!-- select 
    fb_no as fbNo
    ,b.FB_CONTENT as fbContent
    ,b.fb_writer as fbWriter
    ,b.filename
    ,b.filepath
    ,b.fb_views as fbViews
    ,(select count(*) from likes l where l.fb_no = b.fb_no) as fbGood
    ,b.type
    ,decode((select count(*) from likes where user_no=#{userNo} and fb_no=b.fb_no),1,1,0) flag    
	from(select rownum as rnum, fb.* from (select * from free_board order by fb_no desc) fb ) where rnum between #{start} and #{end}
 -->
  	<!-- select fb_no as fbNo,
  		   fb_writer as fbWriter,
  		   fb_content as fbContent,
  		   filename,
  		   filepath,
  		   fb_views as fbViews,
  		   fb_good as fbGood,
  		   type,
  		   fb_date as fbDate
  	 from(select rownum as rnum, fb.* from (select * from free_board order by fb_no desc) fb ) where rnum between #{start} and #{end} -->
  </select>
  <update id="addHeart" parameterType="int">
  		update free_board set fb_good = fb_good + 1 where fb_no = #{fbNo}   
  </update>
  <select id="selectFreeBoardByFbNo" parameterType="int" resultType="fb">
  		select fb_no as fbNo,
  		   fb_writer as fbWriter,
  		   fb_content as fbContent,
  		   filename,
  		   filepath,
  		   fb_views as fbViews,
  		   fb_good as fbGood,
  		   type,
  		   fb_date as fbDate
  		 from free_board where fb_no = #{fbNo} 
  </select>
  <update id="updateFreeBoard" parameterType="fb"> 
  	update free_board set fb_content = #{fbContent}, filename=#{filename}, filepath=#{filepath}, type=#{type} where fb_no=#{fbNo}
  </update>
  <delete id="deleteFreeBoard" parameterType="int">
  delete from free_board where fb_no = #{fbNo}
  </delete>
  <select id="selectFilepath" parameterType="int" resultType="String">
  	select filepath from free_board where fb_no = #{fbNo}
  </select>
  <update id="addViews">
  	update free_board set fb_views = (fb_views+1) where fb_no = #{fbNo}
  </update>
</mapper>
