<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freeBoard">
  <insert id="insertFreeBoard" parameterType="fb">
  	insert into free_board values(
  				fb_seq.nextval,
  				#{fbWriter},
  				#{fbContent},
  				#{filename},
  				#{filepath},
  				0,
  				0,
  				#{type},
  				to_char(sysdate,'yyyy-mm-dd')
  	)
  </insert>
  <select id="FreeBoardTotalCount" resultType="int">
  	select count(fb_no) from free_board
  </select>
  <select id="selectFreeBoards" parameterType="map" resultType="fb">
  	<!-- select 
  		   fb_no as fbNo,
  		   fb_writer as fbWriter,
  		   fb_content as fbContent,
  		   filename,
  		   filepath,
  		   fb_views as fbViews,
  		   fb_good as fbGood,
  		   type,
  		   fb_date as fbDate
  	from free_board	 -->
  	select fb_no as fbNo,
  		   fb_writer as fbWriter,
  		   fb_content as fbContent,
  		   filename,
  		   filepath,
  		   fb_views as fbViews,
  		   fb_good as fbGood,
  		   type,
  		   fb_date as fbDate
  	 from(select rownum as rnum, fb.* from (select * from free_board order by fb_no desc) fb ) where rnum between #{start} and #{end}
  </select>
  <update id="addHeart" parameterType="int">
  		update free_board set fb_good = fb_good + 1 where fb_no = #{fbNo}   
  </update>
</mapper>
