<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="likes">
	<insert id="addHeart" parameterType="map">
		insert into likes values(
			#{fbNo}, 
			#{userNo}
		)
	</insert>
	<delete id="minusHeart" parameterType="map">
		delete from likes where fb_no = #{fbNo} and user_no = #{userNo}
	</delete>
</mapper>
