<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="newclub">
<select id="boardList" resultType="n">
	SELECT
		BOARD_NO as boardNo,
		CLUB_NO as clubNo,
		BOARD_CG as boardCg,
		BOARD_WRITER as boardWriter,
		BOARD_TITLE as boardTitle,
		BOARD_CONTENT as boardContent,
		FILENAME,
		FILEPATH,
		BOARD_VIEWS as boardViews,
		BOARD_GOOD as boardGood,
		ENROLL_DATE as enrollDate
		from CLUB_BOARD 
</select>
<!-- 전체 게시물 확인 -->
<select id="totalCount" resultType="int"  parameterType="int">
	SELECT
		count(*)
		from CLUB_BOARD WHERE CLUB_NO=#{clubNo}
</select>
<select id="boardMore" parameterType="map" resultType="b">
	SELECT 
rnum,
   BOARD_NO as boardNo,
   CLUB_NO as clubNo,
   BOARD_CG as boardCg,
   BOARD_WRITER as boardWriter,
   BOARD_TITLE as boardTitle,
   BOARD_CONTENT as boardContent,
   FILENAME,
   FILEPATH,
   BOARD_VIEWS as boardViews,
   BOARD_GOOD as boardGood,
   ENROLL_DATE as enrollDate
FROM
(SELECT ROWNUM AS RNUM, N.* FROM
(SELECT * FROM club_board WHERE CLUB_NO=38 ORDER BY CLUB_NO DESC)N) where RNUM BETWEEN 1 AND 3
<!-- 클럽보드에서 38번을 순서대로찾아서 그중 최근거 1~3을 찾음 -->
</select>

<!--글쓰기 등록 -->
<insert id="insertBoard" parameterType="n">
insert into club_board values(
    CB_SEQ.NEXTVAL,
    #{clubNo},
    5,
    #{boardWriter},
    '제목',
    #{boardContent},
    null,
    null,
    0,
    0,
    to_char(sysdate,'yyyy-mm-dd'))
</insert>

<!-- 게시물 등록 -->
<insert id="insertPhoto" parameterType="b">
insert into club_board values(
    CB_SEQ.NEXTVAL,
    #{clubNo},
    5,
    #{boardWriter},
        제목,
    #{boardContent},
    null,
    null,
    1,
    1,
    to_char(sysdate,'yyyy-mm-dd'))
</insert>
<!-- 최신 게시글 번호 찾기-->
<select id="selectBoardNo" resultType="int">
	select max(board_no) from club_board
</select>
<!-- 파일추가하기위한 쿼리 -->
<update id="insertFile" parameterType="b">
	update club_board set 
		fileName=#{filename},
		filePath=#{filepath}
	where board_no=#{boardNo}
</update>
<select id="selectOne" parameterType="int" resultType="n" >
		select
		   BOARD_NO as boardNo,
		   CLUB_NO as clubNo,
		   BOARD_CG as boardCg,
		   BOARD_WRITER as boardWriter,
		   BOARD_TITLE as boardTitle,
		   BOARD_CONTENT as boardContent,
		   FILENAME,
		   FILEPATH,
		   BOARD_VIEWS as boardViews,
		   BOARD_GOOD as boardGood,
		   ENROLL_DATE as enrollDate
		from club_board where club_no=#{clubNo}
	</select>
		
		
</mapper>
