<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="restriction">
	<insert id="insertRest" parameterType="rest">
		insert into restriction values(rest_seq.nextval,#{restEmail},#{restCg},#{restContent},to_char(sysdate,'yyyy-mm-dd'),
		<if test="restCg eq 28">
		to_char(sysdate+7,'yyyy-mm-dd')
		</if>
		<if test="restCg eq 29">
		to_char(sysdate+99999,'yyyy-mm-dd')
		</if>
		)
	</insert>
	<update id="updateMemberGrade" parameterType="rest">
		update member set grade=3 where email=#{restEmail} 
	</update>
	<!-- 매일 12시에 이용제한이 끝난 회원 삭제시켜주기 -->
	<delete id="deleteRestEndRest">
		delete from restriction where rest_no in((select rest_no from restriction where end_date &lt; to_char(sysdate,'yyyy-mm-dd')))
	</delete>
	<!-- 이용제한 테이블 전체 가져옴 -->
	<select id="selectAllRest" parameterType="map" resultType="rest">
		select * from
		    (select rownum as sort, rest.* from
		        (select
		            rest_no as restNo,
		            rest_email as restEmail,
		            rest_cg as restCg,
		            rest_content as restContent,
		            start_date as startDate,
		            end_date as endDate,
		            (select cg_name from category where cg_no = rest_cg) as cgName
	        from restriction join category on(rest_no = cg_no) order by rest_no desc)rest)
		where sort between #{start} and #{end}
	</select>
	<!-- 이용제한 테이블 row 갯수 -->
	<select id="restCount" parameterType="int" resultType="int">
		select count(*) from restriction
	</select>
	<!-- 이용제한회원 풀기 > delete -->
	<delete id="deleteRestMember" parameterType="string">
		delete from restriction where rest_email=#{restEmail}
	</delete>
	<!-- 로그인 시 제재내역 조회 -->
	<select id="selectOneRestriction" parameterType="string" resultType="rest">
		select 
			rest_no as restNo,
		    rest_email as restEmail,
		    rest_cg as restCg,
		    rest_content as restContent,
		    start_date as startDate,
		    end_date as endDate,
		    cg_name as cgName
		from restriction r join category on (rest_cg = cg_no) where rest_email=#{email}
	</select>
</mapper>
