/* 헤더 부분 */
:root{
    --backColor:#2e2d31;			/* 관리자 메인 배경 색 */
	--mainTextColor:#00FFFF;		/* 관리자 메인 글씨  */
	--whiteTextColor:#ffffff;		/* 관리자 메뉴 글씨  */
	--underLine:#4d4d4d;			/* 구분 밑 줄 */
	--contentBackColor:#201f22;		/* 해당 메뉴의 컨텐츠 배경 색 */
	--fontBilbo:'Bilbo', cursive;	/* bilbo 폰트 */
    --fontCantarell1:'Bilbo', cursive;
    --fontCantarell2:'Cantarell', sans-serif;
    --contentShadow:0px 0px 20px rgba(0,0,0,0.7);
    --background:linear-gradient(to bottom, rgba(1, 225, 255, 0.5),rgba(33, 229, 255, 0.2),rgba(95, 235, 248, 0.1));
}
html{        
    min-width:1200px;
    background-color:#333333;
}
body{
    padding:0;
    margin:0;
    width:1200px;
    height:100vh;
    margin:auto;
}
header{
    width:100%;
    height:50px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.logo{
    display:block;
    width:140px;
    height:40px;
    text-align:center;
    background-image: url('/resources/image/icons/logo-img.png');
    background-size:100% 100%;
    font-size:1.5rem;
    margin-top:10px;
}
/* body의 사이드 부분 */
.wrap{
    height:100%;
    display:flex;
    background-color: var(--contentBackColor);
    z-index:100;
}
nav{
    width:200px;
    height:100%;
    background-color:var(--backColor);
    box-shadow: 10px 0px 10px rgba(0,0,0,0.4);
    box-sizing:border-box;
}
.adminInfoWrap{
    width:100%;
    height:200px;
    padding:10px 0;
}
.adminImg{
    width:150px;
    height:150px;
    margin:auto;
    margin-bottom:10px;
}
.adminImg>img{
    width:100%;
    height:100%;
    border-radius:150px;
}
.adminInfo{
    width:150px;
    height:30px;
    margin: auto;
    color:var(--mainTextColor);
    text-align:center;
}
.adminInfo>span:first-child {
    font-size:1.5rem;
    font-family:var(--fontBilbo);
}
.adminInfo>span:last-child {
    font-size:0.9rem;
    font-family:var(--fontCantarell1);
    font-family:var(--fontCantarell2);
}
.divLine{
    width:80%;
    height:1px;
    margin:10px auto;
    box-sizing:border-box;
    background-color:var(--underLine);
}
.menu{
    margin:0;
    padding:0;
    list-style: none;
    display:flex;
    flex-direction: column;
}
.menu a{
    text-decoration: none;
    color:var(--whiteTextColor);
    display:flex;
    width:100%;
    height:100%;
    padding-left:25px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    align-items:center;
    box-sizing:border-box;
    transition-duration: 0.2s;
}
.menu>li{
    width:100%;
    height:40px;
    margin:auto;
}
.menu img{
    width:25px;
    height:25px;
}
.alarm-wrap{
	position:relative;
}
.alarm-box{
	width:18px;
	height:18px;
	position:absolute;
	top:-8px;
	right:-18px;
	display:none;
}
.alarm-box>img{
	width:100%;
	height:100%;
}
.menu span{
    margin-left:25px;
    font-size:0.9rem;
}
.menu>li:hover>a{
    padding-left:25px;
    border-left:5px solid var(--mainTextColor);
    border-right:5px solid var(--mainTextColor);
    background:linear-gradient(to bottom, rgba(1, 225, 255, 0.5),rgba(33, 229, 255, 0.3),rgba(95, 235, 248, 0.1));
}
/* body의 content 부분 */
section{
    width:1000px;
    height:100%;
    overflow-y:scroll;
    box-sizing:border-box;
    padding:20px;
    position:relative;
}
/* 스크롤바 디자인 시작 */
section::-webkit-scrollbar {
  width: 10px;
}
section::-webkit-scrollbar-thumb {
  background-color: #67dfdf;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
section::-webkit-scrollbar-track {
  background-color: var(--contentBackColor);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
/* 스크롤바 디자인 끝 */
.content-wrap{
    /* height:2000px; */
    margin:30px;
    box-sizing:border-box;
}
/* content 안의 item-box들 색상 및 테두리 효과 */
.box-option{
	background-color:var(--backColor);
    box-shadow:var(--contentShadow);
    border-radius:10px;
    box-sizing:border-box;
}
/* 검색창-box 디자인 */
.searchBar-wrap{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:30px;
}
.searchBar-wrap>*{
    height:40px;
    box-sizing:border-box;
    outline:none;
}
/* 검색창 자체 너비 지정 */
.searchBar-wrap > input[type="search"]{
	width:400px;
	height:40px;
}
#searchBtn{
	padding:0;
	margin:0;
	width:40px;
	height:40px;
}
#searchBtn>img{
	width:100%;
	height:100%;
}
/* 목록 list 디자인 */
.list-wrap{
    width:100%;
    margin-top:30px;
    padding:30px 0;
}
.list-wrap>*{
    width:90%;
    margin:auto;
}
.list-header{
    height:30px;
    padding:0;
    display:flex;
    position:relative;
}
/* 리스트 정렬 또는 중복 선택 기능-box 디자인 */
.option-wrap{
    display:flex;
    align-items:center;
}
.option-wrap>*{
    display:block;
    height:100%;
}
/* 정렬 selectBox 디자인 */
#sort{
	position:absolute;
	right:0;
	height:30px;
}
/* table 디자인 */
.list{
    color:#fff;
    font-size:0.9rem;
    width:100%;
    border-collapse: collapse;
    padding-bottom:30px;
}
.list>thead>tr{
    height:40px;
    border-bottom:2px solid var(--mainTextColor);
}
.list td{
    text-align:center;
    border-bottom:1px solid var(--underLine);
    padding:3px 0;
    font-size:0.8rem;
}
.list a{
	text-decoration:none;
	 color:#ffffff;
}
.inquiryList tbody>tr:hover,
.clubList tbody>tr:hover{
	background:var(--background);
}
/* 메뉴별 타이틀 */
.title-wrap{
	width:20%;
	margin:auto;
}
.title-wrap>h2{
	color:#ffffff;
	text-align:center;
	padding:20px 0px;
}

#ofHidden{
	display:block;
	width:300px;
	height:20px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin:auto;
}
#ofHidden>p{
	margin:0;
}
/* 관리자 페이지 내의 모달 디자인 */
.modal{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    justify-content: center;
    align-items:center;
    background-color:rgba(0,0,0,0.8);
}
.modal-box{
	max-height:600px;
    background-color:#ffffff;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:20px;
    position:relative;
    overflow-y:scroll;
}
.titleHead{
    margin:0;
    padding-bottom:10px;
    margin-bottom:10px;
    width:100%;
    text-align:center;
    border-bottom:2px solid #a1a1a1;
}
.title-head{
	padding-bottom:10px;
    margin:10px 0;
    width:100%;
    text-align:center;
    border-bottom:2px solid #a1a1a1;
}
.textarea{
    margin:20px 0;
}
#closeBtn{
    position:absolute;
    top:20px;
    left:20px;
}
#cgNo{
	margin-bottom:10px;
	display:none;
}
.modal-table{
	border-collapse: collapse;	
}
.abContent{
	display:block;
	width:800px;
	height:600px;
	padding-top:5px;
}
.modal-table th{
	width:100px;
	border:1px solid var(--contentBackColor);
	background-color:var(--underLine);
	color:var(--mainTextColor);
}
.modal-table td{
	border:1px solid var(--contentBackColor);
	padding-left:5px;
	color:#ffffff;
	background-color:var(--backColor);
	font-size:0.8rem;
}
.answer-box{
	display:none;
}
/* 관리자 페이지 방문자,오늘,전체 설정 */
.counts{
	display:flex;
	justify-content:space-evenly;
	padding:20px 0;
}
.count-wrap{
	display:flex;
}
.icon-box{
	width:50px;
	height:50px;
	margin:10px;
	margin-right:0;
}
.count-box{
	display:flex;
	flex-direction:column;
	padding-right:10px;
	box-sizing:border-box;
}
.spans{
	color:var(--whiteTextColor);
	display:inline-block;
	width:150px;
	line-height:30px;
	text-align:center;
}
.count-name{
	font-size:0.7rem;
	color:var(--mainTextColor);
}
.count-value{
	line-height:40px;
	font-size:2rem;
	font-weight:600;
}
.visitor-icon{
	background-image:url('/resources/image/icons/visit-icon1.png');
	background-size:100%;
}
.today-icon{
	background-image:url('/resources/image/icons/visit_icon.png');
	background-size:100%;
}
.total-icon{
	background-image:url('/resources/image/icons/totalVisit-icon.png');
	background-size:100%;
}
.naviPage-wrap{
	display:flex;
	justify-content:center;
	align-items:center;
}
.naviPage-wrap>*{
	display:block;
	width:20px;
	height:20px;
	line-height:20px;
}
#naviFocus{
	color:#67dfdf;
	font-size:1.2rem;
}
.answer-wrap{
	width:100%;
	display:none;
}
.answer-table{
	width:100%;
}
.answer-table td{
	padding:5px;
	width:800px;
	height:450px;
}
.answer-table>tfoot th{
	background-color:transparent;
	border:none;
}
.modifyAnswer-box{
	display:none;
}
.answerContent{
	display:block;
	width:100%;
	height:100%;
	box-sizing:border-box;
	padding-top:1px;
}
/* 버튼 css */
.btn-box{
	width:100%;
}
.btns{
	box-sizing:border-box;
	padding:0;
	margin:0;
	outline:none;
	border:1px solid transparent;
	border-radius:5px;
	cursor:pointer;
	transition-duration:0.2s;
}
/* 경고 버튼 */
.warningBtn{
	background-color:#FFFF66;
	padding:3px;
}
.warningBtn:hover{
	background-color:#CCCC00;
	border:1px solid #FFFF33;
	color:var(--mainTextColor);
}
/* 제재 버튼 */
.restBtn{
	background-color:#FF6666;
	padding:3px;
}
.restBtn:hover{
	background-color:#FF9999;
	border:1px solid #FFCCCC;
	color:var(--mainTextColor);
}
/* 삭제 버튼 */
.deleteBtn{
	background-color:#993399;
	padding:3px;
}
.deleteBtn:hover{
	color:var(--mainTextColor);
	border:1px solid #CC66CC;
}
/* 제재 해제 버튼 */
.restOffBtn{
	background-color:#6666FF;
	color:#ffffff;
	padding:3px;
}
.restOffBtn:hover{
	color:var(--mainTextColor);
	border:1px solid #ffffff;
}
/* 모달 x 버튼 */
.cancelBtn{
	width:40px;
	height:40px;
	background-color:transparent;
	background-image:url('/resources/image/icons/x.png');
	background-size:100%;
}
.cancelBtn:hover{
	box-shadow:0 0 5px #000000;
}
/* 모달 확인 버튼 */
.enterBtn,
.answerBtn,
.clubEnterBtn{
	background-color:#3333FF;
	padding:3px;
	color:#ffffff;
	width:100%;
	height:40px;
	margin-top:5px;
}
.enterBtn:hover,
.answerBtn:hover,
.clubEnterBtn:hover{
	background-color:#6666FF;
	color:var(--mainTextColor);
}
/* 답변 수정완료 버튼 */
.comBtn{
	background-color:#FF33CC;
	color:#ffffff;
	display:none;
	width:100%;
	height:40px;
	margin-top:5px;
	font-size:1rem;
	font-weight:600;
}
.comBtn:hover{
	color:var(--mainTextColor);
	background-color:#FF99FF;
}
/* 답변 수정취소 버튼 */
.canBtn{
	background-color:#333333;
	color:#ffffff;
	display:none;
	width:100%;
	height:40px;
	margin-top:5px;
	font-size:1rem;
	font-weight:600;
}
.canBtn:hover{
	color:var(--mainTextColor);
	background-color:#666666;
}
/* 답변하기 버튼 */
.slideAnswerBtn{
	background-color:#FFCC00;
	padding:3px;
	width:100%;
	height:40px;
	margin:10px 0;
	font-size:1rem;
	font-weight:600;
}
.slideAnswerBtn:hover{
	color:var(--mainTextColor);
	background-color:#FF9933;
}
/* 답변 수정하기 버튼 */
.modifyBtn{
	background-color:#66FF99;
	padding:3px;
	width:100%;
	height:40px;
	margin-top:5px;
	font-size:1rem;
	font-weight:600;
}
.modifyBtn:hover{
	color:#CC33FF;
	background-color:#99FFCC;
}
/* 선택된 회원에게 쪽지 발송 버튼 */
/* 관리자 등록 버튼 */
#selectMessageBtn,
#upgradeBtn{
	background-color:#999999;
	padding:3px;
	color:#ffffff;
}
#selectMessageBtn:hover,
#upgradeBtn:hover{
	background-color:#666666;
	border:1px solid #ffffff;
}
/* 문의/신고 접수/답변 디자인 */
.answerIng{
	color:#FFFF66;
}
.answerComplete{
	color:#33FFCC;
}
/* 차트메뉴 새로고침 버튼 */
.autorenew-wrap{
	width:40px;
	height:40px;
	position:absolute;
	top:20px;
	left:20px;
}
#renewIcon{
	width:100%;
	height:100%;
	cursor:pointer;
}
#renewIcon:hover{
	animation-name:iconInfi;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}
@keyframes iconInfi{
	100%{
		transform:rotate(360deg);
	}
}
.clubMove{
	transition-duration:0.3s;
}
.clubMove:hover,
.selectOneBtn:hover{
	color:#FF66FF;
}





