/* 헤더 부분 */
:root{
    --backColor:#2e2d31;			/* 관리자 메인 배경 색 */
	--mainTextColor:#67dfdf;		/* 관리자 메인 글씨  */
	--menuTextColor:#ffffff;		/* 관리자 메뉴 글씨  */
	--underLine:#4d4d4d;			/* 구분 밑 줄 */
	--contentBackColor:#201f22;		/* 해당 메뉴의 컨텐츠 배경 색 */
	--fontBilbo:'Bilbo', cursive;	/* bilbo 폰트 */
    --fontCantarell1:'Bilbo', cursive;
    --fontCantarell2:'Cantarell', sans-serif;
    --contentShadow:0px 0px 20px rgba(0,0,0,0.7);
    --background:linear-gradient(to bottom, rgba(1, 225, 255, 0.5),rgba(33, 229, 255, 0.2),rgba(95, 235, 248, 0.1));
}
html{        
    min-width:1200px;
    background-color:#333333;
}
body{
    padding:0;
    margin:0;
    width:1200px;
    height:100vh;
    margin:auto;
}
header{
    width:100%;
    height:50px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.logo{
    display:block;
    width:140px;
    height:40px;
    text-align:center;
    background-image: url('/resources/image/icons/logo-img.png');
    background-size:100% 100%;
    font-size:1.5rem;
    margin-top:10px;
}
/* body의 사이드 부분 */
.wrap{
    height:100%;
    display:flex;
    background-color: var(--contentBackColor);
    z-index:100;
}
nav{
    width:200px;
    height:100%;
    background-color:var(--backColor);
    box-shadow: 10px 0px 10px rgba(0,0,0,0.4);
    box-sizing:border-box;
}
.adminInfoWrap{
    width:100%;
    height:200px;
    padding:10px 0;
}
.adminImg{
    width:150px;
    height:150px;
    margin:auto;
    margin-bottom:10px;
}
.adminImg>img{
    width:100%;
    height:100%;
}
.adminInfo{
    width:150px;
    height:30px;
    margin: auto;
    color:var(--mainTextColor);
    text-align:center;
}
.adminInfo>span:first-child {
    font-size:1.5rem;
    font-family:var(--fontBilbo);
}
.adminInfo>span:last-child {
    font-size:0.9rem;
    font-family:var(--fontCantarell1);
    font-family:var(--fontCantarell2);
}
.divLine{
    width:80%;
    height:1px;
    margin:10px auto;
    box-sizing:border-box;
    background-color:var(--underLine);
}
.menu{
    margin:0;
    padding:0;
    list-style: none;
    display:flex;
    flex-direction: column;
}
.menu a{
    text-decoration: none;
    color:var(--menuTextColor);
    display:flex;
    width:100%;
    height:100%;
    padding-left:25px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    align-items:center;
    box-sizing:border-box;
    transition-duration: 0.2s;
}
.menu>li{
    width:100%;
    height:40px;
    margin:auto;
}
.menu img{
    width:25px;
    height:25px;
}
.menu span{
    margin-left:25px;
    font-size:0.9rem;
}
.menu>li:hover>a{
    padding-left:25px;
    border-left:5px solid var(--mainTextColor);
    border-right:5px solid var(--mainTextColor);
    background:linear-gradient(to bottom, rgba(1, 225, 255, 0.5),rgba(33, 229, 255, 0.3),rgba(95, 235, 248, 0.1));
}
/* body의 content 부분 */
section{
    width:1000px;
    height:100%;
    overflow-y:scroll;
    box-sizing:border-box;
}
/* 스크롤바 디자인 시작 */
section::-webkit-scrollbar {
  width: 10px;
}
section::-webkit-scrollbar-thumb {
  background-color: #67dfdf;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
section::-webkit-scrollbar-track {
  background-color: var(--contentBackColor);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
/* 스크롤바 디자인 끝 */
.content-wrap{
    /* height:2000px; */
    margin:30px;
    box-sizing:border-box;
}
.box-option{
	background-color:var(--backColor);
    box-shadow:var(--contentShadow);
    border-radius:10px;
}
.searchBar-wrap{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:30px;
}
.searchBar-wrap>*{
    height:40px;
    box-sizing:border-box;
    outline:none;
}
.searchBar-wrap>input[type="search"]{
	width:400px;
}
#searchBtn{
	padding:0;
	margin:0;
	width:40px;
	height:40px;
}
#searchBtn>img{
	width:100%;
	height:100%;
}
.list-wrap{
    width:100%;
    margin-top:30px;
    padding:30px 0;
}
.list-wrap>*{
    width:90%;
    margin:auto;
}
.list-header{
    height:30px;
    padding:0;
    display:flex;
    position:relative;
}
.option-wrap{
    display:flex;
    align-items:center;
}
.option-wrap>*{
    display:block;
    height:100%;
}
.list{
    color:#fff;
    font-size:0.9rem;
    width:100%;
    border-collapse: collapse;
    padding-bottom:30px;
}
.list>thead>tr{
    height:40px;
    border-bottom:2px solid var(--mainTextColor);
}
.list td{
    text-align:center;
    border-bottom:1px solid var(--underLine);
    padding:5px 0;
}
.inquiryList tbody>tr:hover{
	background:var(--background);
}
/* 메뉴별 타이틀 */
.title-wrap{
	width:20%;
	margin:auto;
}
.title-wrap>h2{
	color:#ffffff;
	text-align:center;
	padding:20px 0px;
}
.list a{
	text-decoration:none;
	 color:#ffffff;
}
#sort{
	position:absolute;
	right:0;
	height:30px;
}

#ofHidden{
	display:block;
	width:300px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
/* 관리자 페이지 내의 모달 디자인 */
.modal{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    justify-content: center;
    align-items:center;
    background-color:rgba(0,0,0,0.8);
}
.modal-box{
	max-height:800px;
    background-color:#ffffff;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:20px;
    position:relative;
    overflow-y:scroll;
}
.titleHead{
    margin:0;
    padding-bottom:10px;
    margin-bottom:10px;
    width:100%;
    text-align:center;
    border-bottom:2px solid #a1a1a1;
}
.textarea{
    margin:20px 0;
}
#closeBtn{
    position:absolute;
    top:20px;
    left:20px;
}
#cgNo{
	margin-bottom:10px;
	display:none;
}
.modal-table{
	border-collapse: collapse;	
}
.abContent{
	display:block;
	width:800px;
	height:600px;
	padding-top:5px;
}
.modal-table th{
	width:100px;
	border:1px solid #dddddd;
	background:var(--background);
}
.modal-table td{
	border:1px solid #dddddd;
	padding-left:5px;
}
.answer-box{
	display:none;
}