.chart-wrap{
	display:flex;
	justify-content:space-between;
}
.memberHobby-box{
	width:100%;
	height:250px;
	
}
.ages-box{
	width:100%;
	height:250px;
	padding:10px;
}
.memberCount-box{
	width:55%;
	height:500px;
	padding:10px;
}
.innerChart-wrap{
	width:44%;
	display:flex;
	flex-direction:column;
	
}