<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<!-- 모임 -->
		<typeAlias type="kr.or.club.model.vo.Club" alias="c"/>
		<!-- 모임게시판 -->
		<typeAlias type="kr.or.club.model.vo.Board" alias="b"/>
		<!-- 쪽지 -->
		<typeAlias type="kr.or.directMessage.model.vo.DirectMessage" alias="dm"/>
	</typeAliases>
</configuration>
