<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	
	<typeAliases>
		<!-- 카테고리 -->
		<typeAlias type="kr.or.category.model.vo.Category" alias="cg"/>
		<!-- 회원 -->
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<!-- 모임 -->
		<typeAlias type="kr.or.club.model.vo.Club" alias="c"/>
		<!-- 모임게시물 -->
		<typeAlias type="kr.or.club.model.vo.ClubBoard" alias="b"/>
		<!-- 게시판(공지,문의/신고) -->
		<typeAlias type="kr.or.board.model.vo.Board" alias="bl"/>
		<!-- 게시판네비 -->
		<typeAlias type="kr.or.board.model.vo.BoardPageData" alias="bpd"/>
		<!-- 모임상세페이지 -->
		<typeAlias type="kr.or.newclub.model.vo.clubBoard" alias="n"/>
		<!-- 모임신청 -->
		<typeAlias type="kr.or.newclub.model.vo.Apply" alias="a"/>  
		<!-- 모임에 속한 회원 -->
		<typeAlias type="kr.or.newclub.model.vo.ClubMember" alias="cm"/>   
		<!-- 캘린더날짜 -->
		<typeAlias type="kr.or.newclub.model.vo.Calendar" alias="cal"/>  
		<!-- 쪽지 -->
		<typeAlias type="kr.or.directMessage.model.vo.DirectMessage" alias="dm"/>
		<!-- 이용제한 -->
		<typeAlias type="kr.or.restriction.model.vo.Restriction" alias="rest"/>
		<!-- 프리보드 별명 -->
		<typeAlias type="kr.or.freeBoard.model.vo.FreeBoard" alias="fb"/>
		<!-- 문의/신고 답변 -->
		<typeAlias type="kr.or.answer.model.vo.Answer" alias="an"/>
		<!-- 친구 -->
		<typeAlias type="kr.or.member.model.vo.Friends" alias="f"/>
		<!-- 관리자 카운트 클래스 -->
		<typeAlias type="kr.or.admin.model.vo.AdminCount" alias="ac"/>
		<typeAlias type="kr.or.admin.model.vo.MemberCountMonth" alias="mcm"/>
		<typeAlias type="kr.or.admin.model.vo.DestroyMemberCountMonth" alias="dmcm"/>
		<typeAlias type="kr.or.admin.model.vo.BestCategory" alias="bc"/>
		<!-- 관리자 방문 클래스 -->
		<typeAlias type="kr.or.admin.model.vo.Visit" alias="visit"/>
		<!-- 마이클럽 차트 -->
		<typeAlias type="kr.or.club.model.vo.ClubChart" alias="cc"/>
	</typeAliases>
</configuration>
