p {
  margin:0;
}
.container {
  text-align: center;
  margin-top: 50px;
  height:60vh;
}
.message {
  width: 700px;
  margin: 0 auto;
  text-align: left;
  margin-top:20px;
  margin-bottom:30px;
}
.name {
	font-weight:bolder;
	font-size:20px;
	color:red;
}
.email {
	font-size:13px;
}
.rest-table {
	width: 700px;
	text-align:left;
	margin: 0 auto;
}
.title {
	display: inline-block;
}
.content {
	display: inline-block;
}

@media 