p {
  margin:0;
}
input,
textarea {
  width: 300px;
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 3px;
}
input[type="submit"], a {
  display: inline-block;
  width: 300px;
  height: 35px;
  line-height: 35px;
  color: white;
  font-weight: bold;
  background-color: #ec523f;
  border: 0;
  margin-bottom: 3px;
}
a {
  text-decoration: none;
}
.container {
  text-align: center;
  margin-top: 50px;
  height:60vh;
}
.message {
  width: 700px;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:30px;
}
.name {
	font-weight:bolder;
	font-size:20px;
	color:red;
}
.email {
	font-size:13px;
}
.rest-table {
	width: 700px;
	margin: 0 auto;
}
.title {
	display: inline-block;
}
.content {
	display: inline-block;
}

@media 